<!DOCTYPE>
<html>
<head>

	<link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>To Do List</title>
</head>
<body ng-app="toDoListApp">

	<div class="container" ng-controller="toDoController">
		<h1>To Do List</h1>
		<input placeholder="whats now!" ng-model="newToDo">
		<input type="submit" value ="Submit" ng-click="addToDo()">

		<div>
			<ul>
				<li class="" ng-repeat="toDo in newToDoList track by $index" ng-class="{'mark':toDo.isActive}">
					<input type="checkbox" name="" ng-click="checkDone()" > <!-- ng-model="toDo.isActive" -->
					{{ toDo.name }}
					<i class="fa fa-times" aria-hidden="true" ng-click="remove($index)"></i>
				</li>
			</ul>
		</div>
	</div>




<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="toDoService.js"></script>
<script src="toDoCtrl.js"></script>
</body>
</html>